@model HashSet<string>
@{
    ViewData["Title"] = "List Type Page";
}

<div class="text-center">
    <form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" />
        <input type="number" name="score" />
        <button type="submit">Kaydet</button>
    </form>
</div>

@foreach (var item in Model)
{
    <h2>@item <a asp-controller="ShortedSetType" asp-action="Delete" asp-route-name="@item">Sil</a> </h2>
}