@model Dictionary<string, string>
@{
    ViewData["Title"] = "List Type Page";
}

<div class="text-center">
    <form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" />
        <input type="text" name="value" />
        <button type="submit">Kaydet</button>
    </form>
</div>

@foreach (var item in Model)
{
    <h2>@item.Key -> @item.Value <a asp-controller="RedisHashType" asp-action="Delete" asp-route-name="@item.Key">Sil</a> </h2>
}