@{
    ViewData["Title"] = "String Type Page";
}

    <div class="text-center">
        <h1 class="display-4">@ViewBag.valueName</h1>
        <h1 class="display-4">@ViewBag.valueZiyaretci</h1>
    </div>
